.text-editor {
	border: 2px solid silver;
}

.editor-buttons {
	border-bottom: 2px solid silver;
	background-color: rgb(255 124 124 / 8%);
}

.icon {
	width: 24px;
	height: 24px;
	color: red;
}

.btn {
	&:hover {
		background-color: silver;
	}
}

.active {
	border-radius: 4px;
	background-color: silver;
}

.editor {
	padding: 10px;
	cursor: text;
}

.red {
	background-color: red;
}
